body {
  font-size: 16px;
  font-family: 'Fira Mono';
  max-width: 100%;
  overscroll-behavior: none;
  margin: 0 auto;
  padding: 1rem;
}

header {
  position: relative;
  line-height: 1.1;
  border-bottom: 2px solid black;
  width: 90%;
  margin-bottom: 1.5rem;
}

main {
  width: 90%;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 1rem;
  letter-spacing: 0.25rem;
}

p {
  font-size: 0.8rem;
}

.job-title {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.contact-info,
.social-links {
  display: flex;
  flex-direction: column-reverse;
}

.slash-divider {
  display: none;
}

.social-links {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
}

.social-links a {
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.contact-info {
  margin-bottom: 0.5rem;
}

.contact-info > * {
  margin-bottom: 0.2rem;
  font-size: .8rem;
  margin: 0 .5rem .2rem;
}

.my-email {
  margin-left: 0;
}

section {
  margin-bottom: 2rem;
}

section h3 {
  letter-spacing: 1.5px;
  padding-bottom: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

section h4 {
  padding-bottom: 1rem;
}

section p {
  line-height: 1.4;
}
.projects p,
.skills p {
  margin-bottom: 1rem;
}

.project-info a {
  margin-right: 0.2rem;
}

.project-info h4 {
  font-size: 1.25rem;
}

.project-info-links {
  padding-bottom: 2rem;
}

.project-info-links a {
  font-size: 0.8rem;
  font-weight: 500;
}

.project-info-links.last {
  padding-bottom: 0;
}

.technologies {
  font-style: italic;
}

.skills h4 {
  font-size: 0.8rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.skills p {
  font-style: italic;
}

.skill-title {
  font-style: normal;
  font-weight: 500;
}

.skills:last-child {
  margin-bottom: 0;
}

.skill.last {
  margin-bottom: 0;
}

.emoji {
  margin-right: 0.25rem;
}

.job-description,
.school-description {
  padding-bottom: 0;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.experience h4,
.education h4,
h5 {
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
}

.experience h4,
.education h4 {
  font-weight: 500;
}

/* ----- LAPTOP ----- */

@media (min-width: 768px) {

  body {
    padding: 4rem;
  }
  h1 {
    font-family: 'Fira Mono';
    font-size: 4rem;
    letter-spacing: 0.5rem;
    padding-bottom: 1.5rem;
  }

  h2.job-title {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .experience h4, .education h4, .skills h4, h5 {
    font-size: 1rem;
  }

  p { 
    font-size: 1rem;
  }

  .paul,
  .baisley {
    color: black;
  }

  .job-title {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .project-info-links a {
    font-size: 1rem;
  }

  .contact-info,
  .social-links {
    flex-direction: row;
  }

  .contact-info > * {
    margin-bottom: .5rem;
    font-size: 1rem;
  }

  .social-links a {
    margin-left: 1.5rem;
    font-weight: bold;
    font-size: 1.25rem;
  }

  .slash-divider {
    // display: block;
    margin: 0 0.5rem;
  }
}
