:root {
  --outline: #222;
  --nav: #499acc;
  --headergrad: linear-gradient(0deg, #ff7676, #fffd8f);
  --light: #fffd8f;
  --headerog: #ff7676;
}

.transition-fade {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.resume-body {
  font-family: 'Fira Mono';
  overscroll-behavior: none;
}

.contact-header {
  line-height: 1.1;
  border-bottom: 2px solid black;
  width: 100%;
  width: 90%;
  margin: 5rem auto 1rem;
  position: relative;
}

.resume-homelink {
  text-decoration: none;
  text-transform: uppercase;
}

.resume-main {
  width: 90%;
  padding: 1.5rem;
}

.resume-name {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 1rem;
  letter-spacing: 0.25rem;
}

.resume-paragraph {
  font-size: 0.8rem;
}

.job-title {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.resume-contact-info,
.resume-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.slash-divider {
  display: none;
}

.resume-social-links {
  position: absolute;
  right: 0;
  top: 0.6rem;
  text-align: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.resume-social-links a {
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.resume-link-el {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.resume-link-el:hover {
  color: #ff7676;
}

.resume-contact-info {
  margin-bottom: 0.5rem;
}

.resume-contact-info > * {
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
}

.my-email {
  margin-left: 0;
}

.resume-section {
  padding-bottom: 1.5rem;
}

.resume-section h3 {
  letter-spacing: 1.5px;
  padding-bottom: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.resume-section h4 {
  padding-bottom: 1rem;
}

.resume-section p {
  line-height: 1.4;
}

.resume-projects p,
.skills p {
  margin-bottom: 1rem;
}

.resume-project-info a {
  margin-right: 0.2rem;
}

.resume-project-info p {
  margin-bottom: 1rem;
}

.resume-project-info-links {
  padding-bottom: 2rem;
}

.resume-project-info-links a {
  font-size: 0.8rem;
  font-weight: 500;
  color: #5a46de;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.resume-project-info-links a:hover {
  color: #ff7676;
}

.resume-project-info-links.last {
  padding-bottom: 0;
}

.technologies {
  font-style: italic;
}

.skills h4 {
  font-size: 0.8rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.skills p {
  font-style: italic;
}

.skill-title {
  font-style: normal;
  font-weight: 500;
}

.skills:last-child {
  margin-bottom: 0;
}

.skill.last {
  margin-bottom: 0;
}

.emoji {
  margin-right: 0.25rem;
}

.job-description,
.school-description {
  padding-bottom: 0;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.experience h4,
.education h4,
h5 {
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
}

.experience h4,
.education h4 {
  font-weight: 500;
}

.school-description:last-of-type {
  margin-bottom: 0;
}

.print-button {
  display: none;
}

@media (min-width: 768px) {
  .print-button {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
    padding: 1rem 3.5rem;
    background-color: var(--headerog);
    color: var(--outline);
    font-weight: bold;
    font-size: 2rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border: 2px solid var(--outline);
  }
  .print-button:hover {
    -webkit-box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: var(--light);
  }
  .print-button > p {
    font-size: 1.2rem;
  }
}

/* -------------------
* ------ NAV ---------
--------------------*/
.resume-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-bottom: 2px solid var(--outline);
  background-color: var(--nav);
  font-weight: 500;
  padding: 0.5rem;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

@media (min-width: 480px) {
  .resume-nav {
    padding: 1rem;
  }
}

@media (min-width: 1024px) {
  .resume-nav {
    padding: 1.5rem;
  }
}

.resume-navlinks,
.resume-social-links,
.mobile-resume-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume-navlinks li a,
.resume-social-links li a,
.mobile-resume-social-links li a {
  color: var(--outline);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.resume-navlinks li a:hover,
.resume-social-links li a:hover,
.mobile-resume-social-links li a:hover {
  color: var(--light);
}

.resume-social-logo-svg {
  width: 24px;
  height: 24px;
  fill: var(--outline);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-right: 1.5rem;
}

.resume-social-logo-svg:hover {
  fill: var(--light);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.resume-mobile-menu {
  top: -50px;
  left: 0;
  position: absolute;
  height: 50px;
  background-color: var(--outline);
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

/* -------------------
* ------ LAPTOP ------ 
 --------------------- */
@media (min-width: 768px) {
  .resume-main {
    padding: 4rem;
  }
  .resume-header {
    margin-bottom: 3rem;
  }
  .resume-section {
    margin-bottom: 2.5rem;
  }
  .resume-name {
    font-family: 'Fira Mono';
    font-size: 4rem;
    letter-spacing: 0.5rem;
    padding-bottom: 1.5rem;
  }
  h2.job-title {
    font-size: 2rem;
  }
  .resume-section h3 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }
  h4,
  h5 {
    font-size: 1rem;
  }
  .resume-project-info {
    margin-bottom: 0.5rem;
  }
  .resume-project-info h4 {
    font-size: 1.25rem;
    margin-bottom: 0rem;
    font-weight: 500;
  }
  .resume-project-info p {
    margin-bottom: 1rem;
  }
  .resume-paragraph {
    font-size: 1rem;
  }
  .paul,
  .baisley {
    color: black;
  }
  .job-title {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .resume-project-info-links a {
    font-size: 1rem;
  }
  .resume-contact-info,
  .resume-social-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .resume-contact-info > * {
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
  }
  .resume-social-links a {
    margin-left: 1.5rem;
    font-weight: bold;
    font-size: 1.25rem;
  }
  .resume-navlinks li a {
    font-size: 1.3rem;
  }
  .resume-homelink {
    padding-left: 3rem;
  }
  .mobile-resume-social-links {
    padding-right: 1.5rem;
  }
  .mobile-resume-social-links li a {
    margin: 0 1rem;
  }
  .education h4,
  .experience h4 {
    font-size: 1rem;
  }
  .school-description,
  .job-description {
    margin-bottom: 1.25rem;
  }
  .slash-divider {
    display: block;
    margin: 0 1rem;
  }
}

@media print {
  .resume-nav,
  .resume-nav,
  .resume-homelink,
  nav > * {
    display: none;
  }
  .contact-header {
    margin-top: 2rem;
  }
  .resume-nav {
    border: none;
  }
  .resume-body {
    padding: 1rem 1.5rem;
  }
  .pagebreak {
    clear: both;
    page-break-after: always;
  }
  .last {
    page-break-after: auto;
  }
  .skills {
    padding-top: 2.5rem;
  }
  .print-button {
    display: none;
  }
}

@page {
  size: auto;
  margin: 0mm;
  padding: 0;
}
/*# sourceMappingURL=resume.css.map */