:root {
  --outline: #222;
  --nav: #499acc;
  --headergrad: linear-gradient(0deg, #ff7676, #fffd8f);
  --light: #fffd8f;
  --headerog: #ff7676;
  --links: #6757d0;
}

.wave {
  display: block;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#fader.fade-out {
  opacity: 0;
  -webkit-animation-name: fade-out;
          animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
}

@-webkit-keyframes textStretchSmall {
  0% {
    letter-spacing: 0;
  }
  50% {
    letter-spacing: 10px;
  }
  100% {
    letter-spacing: 0;
  }
}

@keyframes textStretchSmall {
  0% {
    letter-spacing: 0;
  }
  50% {
    letter-spacing: 10px;
  }
  100% {
    letter-spacing: 0;
  }
}

@-webkit-keyframes textStretchMediumSmall {
  0% {
    letter-spacing: 0;
  }
  50% {
    letter-spacing: 20px;
  }
  100% {
    letter-spacing: 0;
  }
}

@keyframes textStretchMediumSmall {
  0% {
    letter-spacing: 0;
  }
  50% {
    letter-spacing: 20px;
  }
  100% {
    letter-spacing: 0;
  }
}

@-webkit-keyframes textStretchMedium {
  0% {
    letter-spacing: 0;
  }
  50% {
    letter-spacing: 30px;
  }
  100% {
    letter-spacing: 0;
  }
}

@keyframes textStretchMedium {
  0% {
    letter-spacing: 0;
  }
  50% {
    letter-spacing: 30px;
  }
  100% {
    letter-spacing: 0;
  }
}

@-webkit-keyframes textStretchLarge {
  0% {
    letter-spacing: 0;
  }
  50% {
    letter-spacing: 60px;
  }
  100% {
    letter-spacing: 0;
  }
}

@keyframes textStretchLarge {
  0% {
    letter-spacing: 0;
  }
  50% {
    letter-spacing: 60px;
  }
  100% {
    letter-spacing: 0;
  }
}

:root {
  --outline: #222;
  --nav: #499acc;
  --headergrad: linear-gradient(0deg, #ff7676, #fffd8f);
  --light: #fffd8f;
  --headerog: #ff7676;
  --links: #6757d0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 2;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-bottom: 2px solid var(--outline);
  background-color: var(--nav);
  font-weight: 500;
  padding: 0.5rem;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

@media (min-width: 480px) {
  nav {
    padding: 1rem;
  }
}

@media (min-width: 1024px) {
  nav {
    padding: 1.5rem;
  }
}

.navlinks,
.social-links,
.mobile-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navlinks li,
.social-links li,
.mobile-social-links li {
  margin: 0 0.5rem;
  font-size: 0.92rem;
}

.navlinks li a,
.social-links li a,
.mobile-social-links li a {
  color: var(--outline);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.navlinks li a:hover,
.social-links li a:hover,
.mobile-social-links li a:hover {
  color: var(--light);
}

.navlinks li:last-child {
  display: none;
}

@media (min-width: 480px) {
  .navlinks li,
  .social-links li {
    font-size: 100%;
    margin: 0.7rem;
  }
  .navlinks li:last-child {
    display: inline-block;
  }
}

@media (min-width: 640px) {
  .navlinks li,
  .social-links li {
    margin: 0 1rem;
  }
}

.social-links {
  display: none;
}

@media (min-width: 640px) {
  .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.social-logo-svg {
  width: 24px;
  height: 24px;
  fill: var(--outline);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.social-logo-svg:hover {
  fill: var(--light);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.mobile-menu {
  top: -50px;
  left: 0;
  position: absolute;
  height: 50px;
  background-color: var(--outline);
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.social-logo-svg.mobile {
  position: relative;
  display: inline-block;
  margin-top: -4px;
  margin-right: 1rem;
  fill: var(--light);
}

.social-logo-svg.mobile:hover {
  fill: white;
}

.open {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

:root {
  --outline: #222;
  --nav: #499acc;
  --headergrad: linear-gradient(0deg, #ff7676, #fffd8f);
  --light: #fffd8f;
  --headerog: #ff7676;
  --links: #6757d0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  text-align: center;
  padding: 25% 2rem 0;
  background-image: var(--headergrad);
  color: var(--outline);
}

@media (min-width: 768px) {
  header {
    padding: 20% 2rem 0;
  }
}

.selfie {
  margin: 0 auto 2rem;
}

.name-header {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  color: var(--outline);
}

.resume-link {
  color: var(--outline);
  position: relative;
}

.resume-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--outline);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.resume-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media (min-width: 640px) {
  .name-header {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .name-header {
    font-size: 3rem;
  }
}

@media (min-width: 1264px) {
  .name-header {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
}

:root {
  --outline: #222;
  --nav: #499acc;
  --headergrad: linear-gradient(0deg, #ff7676, #fffd8f);
  --light: #fffd8f;
  --headerog: #ff7676;
  --links: #6757d0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

h2 {
  font-size: 3rem;
}

@media (min-width: 480px) {
  h2 {
    font-size: 3.75rem;
  }
}

@media (min-width: 640px) {
  h2 {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 5rem;
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 6rem;
  }
}

@media (min-width: 1264px) {
  h2 {
    font-size: 8rem;
  }
}

h3 {
  font-size: 1.5rem;
}

@media (min-width: 640px) {
  h3 {
    font-size: 2.5rem;
  }
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(1fr, 2fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(1fr, 2fr));
  margin-bottom: 2rem;
}

.projects img {
  min-width: 50%;
  -webkit-box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.03);
          box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.03);
  border: solid var(--nav);
}

.projects img:hover {
  cursor: pointer;
}

@media (min-width: 1264px) {
  .projects {
    padding: 2rem;
    -ms-grid-columns: (minmax(600px, 2fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(600px, 2fr));
  }
  .project-even .project-info-box {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}

.project-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

@media (min-width: 768px) {
  .project-info-box {
    padding: 1rem 2rem 1.5rem;
  }
}

@media (min-width: 1264px) {
  .project-info-box {
    padding: 2rem 2rem 5rem;
  }
}

.project-image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
}

@media (min-width: 1264px) {
  .project-image-box {
    padding: 2rem;
  }
}

.project-image {
  width: 70%;
  max-width: 700px;
  -webkit-transition: -webkit-transform 5s;
  transition: -webkit-transform 5s;
  transition: transform 5s;
  transition: transform 5s, -webkit-transform 5s;
  margin: 0.75rem auto;
}

@media (min-width: 480px) {
  .project-image {
    margin: 1.25rem auto;
  }
}

.project-image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (min-width: 1264px) {
  .project-image {
    max-width: 70%;
  }
}

.image-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-title {
  font-size: 1.5rem;
  margin: 0 auto 2.5rem;
  color: var(--outline);
}

@media (min-width: 480px) {
  .project-title {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .project-title {
    font-size: 2.25rem;
  }
}

@media (min-width: 1264px) {
  .project-title {
    font-size: 2.5rem;
    margin: -2rem auto 3rem;
  }
}

.project-desc-text,
.project-tech-text {
  font-size: 0.9rem;
  width: 70%;
  color: var(--outline);
  text-align: center;
}

@media (min-width: 480px) {
  .project-desc-text {
    width: 70%;
  }
}

.project-desc-text {
  margin: 0 auto 1.5rem;
}

.project-tech-text {
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 640px) {
  .project-desc-text,
  .project-tech-text {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .project-desc-text {
    font-size: 1.25rem;
    margin: 0.5rem auto 2rem;
  }
}

@media (min-width: 1264px) {
  .project-tech-text {
    font-size: 1.25rem;
  }
}

.project-tech-text.laptop {
  display: none;
}

@media (min-width: 1264px) {
  .project-tech-text.laptop {
    display: block;
    margin-top: 1rem;
  }
  .project-tech-text.mobile {
    display: none;
  }
}

.link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

@media (min-width: 640px) {
  .link-wrap {
    margin-top: 0.5rem;
  }
}

.project-link {
  margin: 1rem 2rem;
  font-size: 1rem;
  position: relative;
  color: var(--links);
}

.project-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.project-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

@media (min-width: 768px) {
  .project-link {
    font-size: 1.25rem;
    margin: 1.5rem 2.5rem;
  }
}

.project-header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ff5c5c;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
  max-width: 100%;
  -webkit-animation: textStretchSmall 40s infinite linear;
          animation: textStretchSmall 40s infinite linear;
}

@media (min-width: 480px) {
  .project-header {
    -webkit-animation: textStretchMediumSmall 40s infinite linear;
            animation: textStretchMediumSmall 40s infinite linear;
  }
}

@media (min-width: 640px) {
  .project-header {
    -webkit-animation: textStretchMedium 40s infinite linear;
            animation: textStretchMedium 40s infinite linear;
  }
}

@media (min-width: 1264px) {
  .project-header {
    -webkit-animation: textStretchLarge 40s infinite linear;
            animation: textStretchLarge 40s infinite linear;
  }
}

.project-header-section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1264px) {
  .project-header-section {
    margin-bottom: 100px;
  }
}

@media (min-width: 768px) {
  .projects:last-child {
    margin-bottom: 0;
  }
}

.about {
  display: block;
  padding: 1rem 0 0;
  text-align: center;
  height: 100%;
}

@media (min-width: 768px) {
  .about {
    padding: 2rem 0 0;
  }
}

@media (min-width: 1264px) {
  .about {
    padding: 4rem 0 0;
  }
}

.about-title {
  margin: 2rem auto 3rem;
  color: var(--outline);
}

.about-text {
  display: block;
  width: 80%;
  margin: 0 auto 2rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: var(--outline);
  text-align: left;
  text-indent: 1rem;
}

.about-text.end {
  text-align: center;
  text-indent: 0;
}

@media (min-width: 480px) {
  .about-text {
    font-size: 0.9rem;
    line-height: 1.3rem;
    width: 70%;
  }
}

@media (min-width: 768px) {
  .about-text {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media (min-width: 1264px) {
  .about-text {
    line-height: 1.5rem;
    max-width: 50%;
  }
}

@media (min-width: 1024px) {
  .about-title {
    margin: 2rem auto 4rem;
  }
  .about-text {
    font-size: 1.25rem;
    line-height: 1.8rem;
    width: 60%;
  }
}

:root {
  --outline: #222;
  --nav: #499acc;
  --headergrad: linear-gradient(0deg, #ff7676, #fffd8f);
  --light: #fffd8f;
  --headerog: #ff7676;
  --links: #6757d0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  position: relative;
}

.contact-header {
  position: absolute;
  top: 45%;
  z-index: 2;
  margin: 0 auto;
  color: white;
}

.contact-details-links {
  position: absolute;
  z-index: 2;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-details-links li {
  display: inline-block;
  margin: 2rem 1rem;
}

.social-logo-svg.bottom {
  width: 24px;
  height: 24px;
}

#mail-logo {
  width: 25px;
  height: 25px;
  margin-top: 4px;
}

@media (min-width: 480px) {
  .contact-header {
    font-size: 2rem;
  }
  .contact-details-links li {
    margin: 3.5rem 1.5rem;
  }
  .social-logo-svg.bottom {
    width: 32px;
    height: 32px;
  }
  #mail-logo {
    width: 34px;
    height: 34px;
    margin-top: 4px;
  }
}

@media (min-width: 768px) {
  .contact-header {
    font-size: 2.5rem;
  }
  .contact-details-links li {
    margin: 6rem 3.5rem;
  }
  .social-logo-svg.bottom {
    width: 48px;
    height: 48px;
  }
  #mail-logo {
    width: 52px;
    height: 52px;
    margin-top: 5px;
  }
}

@media (min-width: 1024px) {
  .contact-header {
    font-size: 3rem;
  }
  .contact-details-links li {
    margin: 6rem 3.5rem;
  }
  .social-logo-svg.bottom {
    width: 60px;
    height: 60px;
  }
  #mail-logo {
    width: 64px;
    height: 64px;
    margin-top: 5px;
  }
}

:root {
  --outline: #222;
  --nav: #499acc;
  --headergrad: linear-gradient(0deg, #ff7676, #fffd8f);
  --light: #fffd8f;
  --headerog: #ff7676;
  --links: #6757d0;
}

#fader {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background: white;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.divider.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6rem;
  margin-bottom: 80px;
  color: var(--outline);
}

.divider.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  color: var(--outline);
  margin: 3rem auto;
}

@media (min-width: 640px) {
  .divider.project {
    font-size: 4rem;
    margin: 6rem auto;
  }
}

@media (min-width: 1264px) {
  .divider.project {
    display: none;
  }
}

#burger-svg,
#x-icon {
  position: absolute;
  top: 0.75rem;
  right: 1.4rem;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}

#burger-svg:hover,
#x-icon:hover {
  cursor: pointer;
}

#burger-svg {
  width: 23px;
  height: 23px;
}

#x-icon {
  width: 30px;
  height: 30px;
  top: 0.55rem;
  right: 1.2rem;
}

.x-icon-closed {
  display: none;
}

.x-icon-open {
  display: inline-block;
  stroke: white;
}

.x-icon-open:hover {
  stroke: var(--light);
}

.burger-closed {
  fill: var(--outline);
}

.burger-closed:hover {
  fill: var(--light);
}

.burger-open {
  display: none;
}

@media (min-width: 640px) {
  #burger-svg {
    display: none;
  }
}

.menu-button {
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  background-color: var(--nav);
  padding: 0;
}

.seed-emoji {
  position: relative;
  top: 15px;
  font-size: 24px;
}

.squiggle {
  width: 500px;
  height: 300px;
  margin: 1rem auto 4rem;
}

.squigglePath {
  stroke: var(--headerog);
  stroke-width: 10px;
  stroke-linecap: round;
  fill: none;
}

.squigglewrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

.transition-fade {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

body {
  font-size: 16px;
  font-family: 'Source Code Pro', monospace;
  max-width: 100%;
  overscroll-behavior: none;
}

main {
  position: relative;
  padding-top: 50px;
}

a {
  text-decoration: none;
}

em {
  font-weight: 500;
}

p {
  line-height: 1.5;
}

@media (min-width: 1024px) {
  p {
    font-size: 1.5rem;
  }
}

.melt svg path {
  z-index: 5;
  -webkit-animation: melty 5s ease 0s infinite alternate both;
          animation: melty 5s ease 0s infinite alternate both;
}

@-webkit-keyframes melty {
  100% {
    -webkit-transform: scaleY(1.25);
            transform: scaleY(1.25);
  }
}

@keyframes melty {
  100% {
    -webkit-transform: scaleY(1.25);
            transform: scaleY(1.25);
  }
}
/*# sourceMappingURL=styles.css.map */