@import 'breakpoints';
@import 'mixins';
@import 'variables';

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  padding: 25% 2rem 0;
  background-image: var(--headergrad);
  color: var(--outline);
}

@include tabletPortrait {
  header {
    padding: 20% 2rem 0;
  }
}

.selfie {
  margin: 0 auto 2rem;
}

.name-header {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  color: var(--outline);
}

.resume-link {
  color: var(--outline);
}

@include mobileLandscape {
  .name-header {
    font-size: 2.5rem;
  }
}

@include tabletLandscape {
  .name-header {
    font-size: 3rem;
  }
}

@include laptop {
  .name-header {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
}