@import 'breakpoints';
@import 'mixins';
@import 'variables';

// white svg fade between pages

#fader {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background: white;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

.divider.about {
  @include flexCenter();
  font-size: 6rem;
  margin-bottom: 80px;
  color: var(--outline);
}

.divider.project {
  @include flexCenter();
  font-size: 3rem;
  color: var(--outline);
  margin: 3rem auto;
}

@include mobileLandscape {
  .divider.project {
    font-size: 4rem;
    margin: 6rem auto;
  }
}

@include laptop {
  .divider.project {
    display: none;
  }
}

#burger-svg,
#x-icon {
  position: absolute;
  top: 0.75rem;
  right: 1.4rem;
  transition: fill 0.2s;
  &:hover {
    cursor: pointer;
  }
}

#burger-svg {
  width: 23px;
  height: 23px;
}

#x-icon {
  width: 30px;
  height: 30px;
  top: 0.55rem;
  right: 1.2rem;
}

.x-icon-closed {
  display: none;
}

.x-icon-open {
  display: inline-block;
  stroke: white;
  &:hover {
    stroke: var(--light);
  }
}

.burger-closed {
  fill: var(--outline);
  &:hover {
    fill: var(--light);
  }
}

.burger-open {
  display: none;
}

@include mobileLandscape {
  #burger-svg {
    display: none;
  }
}

.menu-button {
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  background-color: var(--nav);
  padding: 0;
}

.seed-emoji {
  position: relative;
  top: 15px;
  font-size: 24px;
}

.squiggle {
  width: 500px;
  height: 300px;
  margin: 1rem auto 4rem;
}

.squigglePath {
  stroke: var(--headerog);
  stroke-width: 10px;
  stroke-linecap: round;
  fill: none;
}

.squigglewrap {
  @include flexCenter();
  margin-bottom: 4rem;
}
