@import 'breakpoints';
@import 'mixins';
@import 'variables';

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.resume-body {
  font-family: 'Fira Mono';
  overscroll-behavior: none;
  // width: 80%;
}

.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

.contact-header {
  line-height: 1.1;
  border-bottom: 2px solid black;
  width: 100%;
  width: 85%;
  margin: 5rem auto 1rem;
  position: relative;
}

@include tabletPortrait {
  .contact-header {
    width: 90%;
  }
}

.resume-homelink {
  text-decoration: none;
  text-transform: uppercase;
}

.resume-main {
  width: 85%;
  padding: 1.5rem 0;
}

.resume-name {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 1rem;
  letter-spacing: 0.25rem;
}

.resume-paragraph {
  font-size: 0.8rem;
  max-width: 1000px;
}

.job-title {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.job-position, .program-title {
  font-style: italic;
}

@include tabletPortrait {
  .job-position, .program-title {
    font-style: normal;
  }
}

.resume-contact-info,
.resume-social-links {
  display: flex;
  flex-direction: column-reverse;
}

.slash-divider {
  display: none;
}

.resume-social-links {
  position: absolute;
  right: 0;
  top: 0.6rem;
  text-align: right;
  flex-direction: row;
}

.resume-social-links a {
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.resume-link-el {
  transition: all 0.2s ease;
}

.resume-link-el:hover {
  color: #ff7676;
}

.resume-contact-info {
  margin-bottom: 0.5rem;
}

.resume-contact-info > * {
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
}

.my-email {
  margin-left: 0;
}

.resume-section {
  padding-bottom: 2rem;
}

@include tabletPortrait {
  .resume-section {
    padding-bottom: 0;
  }
}

.resume-section h3 {
  letter-spacing: 1.5px;
  padding-bottom: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.resume-section h4 {
  padding-bottom: 1rem;
}

.resume-section p {
  line-height: 1.4;
}

.resume-projects p,
.skills p {
  margin-bottom: 1rem;
}

.job-description p, .education p {
  margin-bottom: 0;
}

.resume-project-info a {
  margin-right: 0.2rem;
}

.resume-project-info p {
  margin-bottom: 1rem;
}

.resume-project-info-links {
  padding-bottom: 2rem;
}

.resume-project-info-links a {
  font-size: 0.8rem;
  font-weight: 500;
  color: #5a46de;
  transition: all 0.2s ease;
}

.resume-project-info-links a:hover {
  color: #ff7676;
}

.resume-project-info-links.last {
  padding-bottom: 0;
}

.technologies {
  font-style: italic;
}

.skills h4 {
  font-size: 0.8rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.skills p {
  font-style: italic;
}

.skill-title {
  font-style: normal;
  font-weight: 500;
}

.skills:last-child {
  margin-bottom: 0;
}

.skill.last {
  margin-bottom: 0;
}

.emoji {
  margin-right: 0.25rem;
}

.job-description,
.school-description {
  padding-bottom: 0;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.experience h4,
.education h4,
h5 {
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
}

.experience h4,
.education h4 {
  font-weight: 500;
}

.school-description:last-of-type {
  margin-bottom: 0;
}

.print-button {
  display: none;
}

@include tabletPortrait {
  .print-button {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
    padding: 1rem 3.5rem;
    background-color: var(--headerog);
    color: var(--outline);
    font-weight: bold;
    font-size: 2rem;
    transition: all 0.2s;
    border: 2px solid var(--outline);
    &:hover {
      box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      color: var(--light);
    }
    & > p {
      font-size: 1.2rem;
    }
  }
}

/* -------------------
* ------ NAV ---------
--------------------*/

.resume-nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  align-items: center;
  height: 50px;
  border-bottom: 2px solid var(--outline);
  background-color: var(--nav);
  font-weight: 500;
  padding: 0.5rem;
  transition: background-color 0.2s;
}

@include mobilePortrait {
  .resume-nav {
    padding: 1rem;
  }
}

@include tabletLandscape {
  .resume-nav {
    padding: 1.5rem;
  }
}

.resume-navlinks,
.resume-social-links,
.mobile-resume-social-links {
  display: flex;
  align-items: center;
  li {
    // margin: 0 0.5rem;
    // font-size: 0.92rem;
    a {
      color: var(--outline);
      transition: color 0.2s;
      &:hover {
        color: var(--light);
      }
    }
  }
}

.resume-social-logo-svg {
  width: 24px;
  height: 24px;
  fill: var(--outline);
  transition: all 0.2s;
  margin-right: 1.5rem;
}

.resume-social-logo-svg:hover {
  fill: var(--light);
  transform: scale(1.1);
  transform-origin: 50% 50%;
}

.resume-mobile-menu {
  top: -50px;
  left: 0;
  position: absolute;
  height: 50px;
  background-color: var(--outline);
  width: 100%;
  padding: 1rem;
  transition: transform 0.5s ease-out;
}

/* -------------------
* ------ LAPTOP ------ 
 --------------------- */

@include tabletPortrait {
  .resume-main {
    width: 90%;
    padding: 3rem 0;
  }

  .resume-header {
    margin-bottom: 3rem;
  }

  .resume-section {
    margin-bottom: 2.5rem;
  }

  .resume-name {
    font-family: 'Fira Mono';
    font-size: 4rem;
    letter-spacing: 0.5rem;
    padding-bottom: 1.5rem;
  }

  h2.job-title {
    font-size: 2rem;
  }

  .resume-section h3 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }

  h4,
  h5 {
    font-size: 1rem;
  }

  .resume-project-info {
    margin-bottom: 0.5rem;
  }

  .resume-project-info h4 {
    font-size: 1.25rem;
    margin-bottom: 0rem;
    font-weight: 500;
  }

  .resume-project-info p {
    margin-bottom: 1rem;
  }

  .resume-paragraph {
    font-size: 1rem;
  }

  .paul,
  .baisley {
    color: black;
  }

  .job-title {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .resume-project-info-links a {
    font-size: 1rem;
  }

  .resume-contact-info,
  .resume-social-links {
    flex-direction: row;
  }

  .resume-contact-info > * {
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
  }

  .resume-social-links a {
    margin-left: 1.5rem;
    font-weight: bold;
    font-size: 1.25rem;
  }

  .resume-navlinks li a {
    font-size: 1.3rem;
  }

  .resume-homelink {
    padding-left: 3rem;
  }

  .mobile-resume-social-links {
    padding-right: 1.5rem;
  }

  .mobile-resume-social-links li a {
    margin: 0 1rem;
  }

  .education h4,
  .experience h4 {
    font-size: 1rem;
  }

  .school-description,
  .job-description {
    margin-bottom: 1.25rem;
  }

  .slash-divider {
    display: block;
    margin: 0 1rem;
  }
}

@media print {
  .resume-nav,
  .resume-nav,
  .resume-homelink,
  nav > * {
    display: none;
  }

  .contact-header {
    margin-top: 2rem;
  }

  .resume-nav {
    border: none;
  }

  .resume-body {
    padding: 1rem 1.5rem;
  }

  .pagebreak {
    clear: both;
    page-break-after: always;
  }

  .last {
    page-break-after: auto;
  }

  .skills {
    padding-top: 2.5rem;
  }

  .print-button {
    display: none;
  }
}

@page {
  size: auto;
  margin: 0mm;
  padding: 0;
}

// // * SWUP ANIMATIONS

// .transition-fade {
//   transition: 0.4s;
//   opacity: 1;
// }

// html.is-animating .transition-fade {
//   opacity: 0;
// }
