@import './_mixins.scss';
@import './_variables.scss';
@import './_breakpoints.scss';
@import './_wave.scss';
@import './_animations.scss';
@import 'nav';
@import 'header';
@import 'section';
@import 'footer';
@import 'widgets';

// * BODY / GLOBAL

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  scrollbar-width: thin;
}

body {
  font-size: 16px;
  font-family: 'Source Code Pro', monospace;
  max-width: 100%;
  overscroll-behavior: none;
  overflow: overlay;
}

body::-webkit-scrollbar {
  background: black;
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-image: linear-gradient(var(--light), var(--headerog));
  background-color: var(--light);
  box-shadow: 0 -100vh 60px 100vh var(--light);
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

main {
  position: relative;
  padding-top: 50px;
}

a {
  text-decoration: none;
}

em {
  font-weight: 500;
}

p {
  line-height: 1.5;
}

@include tabletLandscape {
  p {
    font-size: 1.5rem;
  }
}

// * EXTRAS

.melt svg path {
  z-index: 5;
  animation: melty 3s ease-in-out 0s infinite alternate both;
}

@keyframes melty {
  100% {
    transform: scaleY(1.25);
  }
}
