:root {
  --outline: #222;
  --nav: #499acc;
  --headergrad: linear-gradient(0deg, #ff7676, #fffd8f);
  --light: #fffd8f;
  --headerog: #ff7676;
}

.wave {
  display: block;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Source Code Pro', monospace;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.5;
}

@media (min-width: 1024px) {
  p {
    font-size: 1.5rem;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-bottom: 2px solid var(--outline);
  background-color: var(--nav);
  font-weight: 500;
  padding: 1rem;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

@media (min-width: 1024px) {
  nav {
    padding: 1.5rem 1.5rem;
  }
}

.navlinks,
.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navlinks li,
.social-links li {
  margin: 0 .5rem;
}

.navlinks li a,
.social-links li a {
  color: var(--outline);
  -webkit-transition: color .2s;
  transition: color .2s;
}

.navlinks li a:hover,
.social-links li a:hover {
  color: var(--light);
}

@media (min-width: 640px) {
  .navlinks li,
  .social-links li {
    margin: 0 1rem;
  }
}

.social-links {
  display: none;
}

@media (min-width: 640px) {
  .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.social-logo-svg {
  width: 24px;
  height: 24px;
  fill: var(--outline);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.social-logo-svg:hover {
  fill: var(--light);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  text-align: center;
  padding: 25% 2rem 0;
  background-image: var(--headergrad);
  color: var(--outline);
}

@media (min-width: 768px) {
  header {
    padding: 20% 2rem 0;
  }
}

.selfie {
  margin: 0 auto 2rem;
}

.name-header {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  color: var(--outline);
}

@media (min-width: 640px) {
  .name-header {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .name-header {
    font-size: 3rem;
  }
}

@media (min-width: 1264px) {
  .name-header {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

h2 {
  font-size: 3rem;
}

@media (min-width: 640px) {
  h2 {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 5rem;
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 6rem;
  }
}

@media (min-width: 1264px) {
  h2 {
    font-size: 8rem;
  }
}

h3 {
  font-size: 1.5rem;
}

@media (min-width: 640px) {
  h3 {
    font-size: 2.5rem;
  }
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(600px, 2fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(600px, 2fr));
  padding: 2rem;
  margin-bottom: 2rem;
}

.projects img {
  min-width: 50%;
  -webkit-box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.03);
          box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.03);
  border: solid var(--nav);
}

.projects img:hover {
  cursor: pointer;
}

@media (min-width: 1264px) {
  .projects {
    margin-bottom: 2rem;
  }
  .project-2 .project-info-box {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}

.project-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1264px) {
  .project-info-box {
    padding: 0 2rem;
  }
}

.project-image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2rem;
}

@media (min-width: 1264px) {
  .project-image-box {
    padding: 2rem;
  }
}

.project-image {
  max-width: 50%;
}

@media (min-width: 1264px) {
  .project-image {
    max-width: 70%;
  }
}

.image-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-title {
  font-size: 1.5rem;
  margin: 0 auto 3rem;
  color: var(--outline);
}

@media (min-width: 480px) {
  .project-title {
    font-size: 2rem;
  }
}

@media (min-width: 1264px) {
  .project-title {
    font-size: 2.5rem;
    margin: -2rem auto 3rem;
  }
}

.project-desc-text,
.project-tech-text {
  font-size: .9rem;
  width: 50%;
  color: var(--outline);
}

@media (min-width: 480px) {
  .project-desc-text {
    width: 70%;
  }
}

.project-desc-text {
  margin: 0 auto 1.5rem;
}

.project-tech-text {
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 640px) {
  .project-desc-text,
  .project-tech-text {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .project-desc-text {
    font-size: 1.25rem;
    margin: .5rem auto 2rem;
  }
}

@media (min-width: 1264px) {
  .project-tech-text {
    font-size: 1.25rem;
  }
}

.project-tech-text.laptop {
  display: none;
}

@media (min-width: 1264px) {
  .project-tech-text.laptop {
    display: block;
    margin-top: 1rem;
  }
  .project-tech-text.mobile {
    display: none;
  }
}

.link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

@media (min-width: 640px) {
  .link-wrap {
    margin-top: .5rem;
  }
}

.project-link {
  margin: 1rem 2rem;
  font-size: 1rem;
  color: purple;
}

@media (min-width: 768px) {
  .project-link {
    font-size: 1.25rem;
    margin: 1.5rem 2.5rem;
  }
}

.project-header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--headerog);
  height: 100vh;
}

.project-header-section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1264px) {
  .project-header-section {
    margin-bottom: 100px;
  }
}

@media (min-width: 768px) {
  .projects:last-child {
    margin-bottom: 60px;
  }
}

.about {
  display: block;
  padding: 3rem 0 0;
  text-align: center;
  height: 100%;
}

.about-title {
  margin: 2rem auto 3rem;
  color: var(--outline);
}

.about-text {
  display: block;
  width: 80%;
  margin: 0 auto 2rem;
  font-size: .8rem;
  line-height: 1.2rem;
  color: var(--outline);
}

@media (min-width: 480px) {
  .about-text {
    font-size: .9rem;
    line-height: 1.3rem;
    width: 70%;
  }
}

@media (min-width: 768px) {
  .about-text {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media (min-width: 1264px) {
  .about-text {
    line-height: 1.5rem;
    max-width: 50%;
  }
}

@media (min-width: 1024px) {
  .about-title {
    margin: 2rem auto 4rem;
  }
  .about-text {
    font-size: 1.25rem;
    line-height: 1.8rem;
    width: 60%;
  }
}

footer {
  height: 200px;
}

.divider.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6rem;
  margin-bottom: 80px;
  color: var(--outline);
}

.divider.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4rem;
  color: var(--outline);
}

@media (min-width: 1264px) {
  .divider.project {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */