@import './_mixins.scss';
@import './_variables.scss';
@import './_breakpoints.scss';
@import './_wave.scss';
@import './_animations.scss';
@import 'nav';
@import 'header';
@import 'section';
@import 'footer';
@import 'widgets';

// * BODY / GLOBAL

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

body {
  font-size: 16px;
  font-family: 'Source Code Pro', monospace;
  max-width: 100%;
  overscroll-behavior: none;
}

main {
  position: relative;
  padding-top: 50px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

em {
  font-weight: 500;
}

p {
  line-height: 1.5;
}

@include tabletLandscape {
  p {
    font-size: 1.5rem;
  }
}

// * EXTRAS
