@import 'mixins';
@import 'variables';
@import 'breakpoints';
@import 'wave';
// @import 'nav';
// @import 'header';
// @import 'section';
// @import 'footer';

// * BODY / GLOBAL

body {
	font-size: 16px;
	font-family: 'Source Code Pro', monospace;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

p {
	line-height: 1.5;
}

@include tabletLandscape {
	p {
		font-size: 1.5rem;
	}
}

// * NAV

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	border-bottom: 2px solid var(--outline);
	background-color: var(--nav);
	font-weight: 500;
	padding: 1rem;
	transition: background-color .2s;
	&:hover {
		// background-color: var(--light);
	}
}

@include tabletLandscape {
	nav {
		padding: 1.5rem 1.5rem;
	}
}

.navlinks,
.social-links {
	display: flex;
	align-items: center;
	li {
		margin: 0 .5rem;
		a {
			color: var(--outline);
			transition: color .2s;
			&:hover {
				color: var(--light);
			}
		}
	}
}

@include mobileLandscape {
	.navlinks,
	.social-links {
		li {
			margin: 0 1rem;
		}
	}
}

//decide whether or not to use position absolute for .social-links
// ! opacity transition lagging on resize

.social-links {
	// position: absolute;
	// top: .75rem;
	// right: .75rem;
	// transition: opacity .7s;
	display: none;
}

@include mobileLandscape {
	.social-links {
		// opacity: 1;
		// transform: translateZ(0);
		display: flex;
	}
}

// @include tabletLandscape {
// 	.social-links {
// 		right: 1.5rem;
// 	}
// }

.social-logo-svg {
	width: 24px;
	height: 24px;
	fill: var(--outline);
	transition: all .2s;
}

.social-logo-svg:hover {
	fill: var(--light);
	transform: scale(1.1);
	transform-origin: 50% 50%;
}

// * HEADER

header {
	display: flex;
	flex-direction: column;
	height: 100vh;
	text-align: center;
	padding: 25% 2rem 0;
	background-image: var(--headergrad);
	color: var(--outline);
}

@include tabletPortrait {
	header {
		padding: 20% 2rem 0;
	}
}

.selfie {
	margin: 0 auto 2rem;
}

.name-header {
	font-size: 2rem;
	margin-bottom: 1.5rem;
	text-transform: uppercase;
}

@include mobileLandscape {
	.name-header {
		font-size: 2.5rem;
	}
}

@include tabletLandscape {
	.name-header {
		font-size: 3rem;
	}
}

@include laptop {
	.name-header {
		font-size: 4rem;
		margin-bottom: 2rem;
	}
}

// * SECTION

section {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	// border: 1px solid green;
}

h2 {
	font-size: 3rem;
}

@include mobileLandscape {
	h2 {
		font-size: 4rem;
	}
}

@include tabletLandscape {
	h2 {
		font-size: 6rem;
	}
}

@include laptop {
	h2 {
		font-size: 8rem;
	}
}

h3 {
	font-size: 1.5rem;
}

@include mobileLandscape {
	h3 {
		font-size: 2.5rem;
	}
}

// .section-wrap {
// 	padding: 0 2rem;
// }

.projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(600px, 2fr));
	padding: 2rem;
	// border-bottom: 5px solid var(--headerog);
	img {
		min-width: 50%;
		box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, .03);
		border: solid var(--nav);
		&:hover {
			cursor: pointer;
		}
	}
}

.project-2 {
	grid-auto-flow: dense;
}

.project-info-box {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.project-image-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 2rem;
	img {
		max-width: 50%;
	}
}

.project-title {
	font-size: 1.5rem;
	margin: 0 auto 3rem;
}

@include tabletPortrait {
	.project-title {
		font-size: 4rem;
	}
}

.project-desc-text,
.project-tech-text {
	font-size: .9rem;
	width: 50%;
}

.project-desc-text {
	margin: 0 auto 2rem;
}

.project-tech-text {
	margin: 0 auto;
	text-align: center;
}

@include mobileLandscape {
	.project-desc-text,
	.project-tech-text {
		font-size: 1.25rem;
	}
}

.link-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

.project-link {
	margin: 1rem 2rem;
	font-size: 1rem;
}

.project-header {
	margin: 0 auto;
	@include flexCenter();
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--headerog);
	height: 100vh;
}

.project-header-section {
	height: 100vh;
	@include flexCenter();
}

// @include tabletLandscape {
// 	.projects {
// 		@include flexCenter();
// 	}
// }

// * ABOUT

.about {
	display: block;
	padding: 3rem 0 4rem;
	text-align: center;
	height: 100%;
	// background-image: linear-gradient(0deg, var(--nav), white);
	padding-bottom: 0;
}

.about-title {
	margin: 2rem auto 3rem;
}

.about-text {
	display: block;
	width: 70%;
	margin: 0 auto 2rem;
	font-size: .9rem;
	line-height: 1.3rem;
}

@include tabletLandscape {
	.about-title {
		margin: 2rem auto 4rem;
	}

	.about-text {
		font-size: 1.25rem;
		line-height: 1.8rem;
		width: 60%;
	}
}

// * FOOTER

footer {
	// @include flexCenter();
	// padding: 4rem 2rem 4rem;
	// background-color: var(--nav);
	height: 200px;
}
