:root {
  --outline: #222;
  --nav: #499acc;
  --headergrad: linear-gradient(0deg, #ff7676, #fffd8f);
  --light: #fffd8f;
  --headerog: #ff7676;
}

body {
  font-size: 16px;
  font-family: 'Source Code Pro', monospace;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-bottom: 2px solid var(--outline);
  background-color: var(--nav);
  font-weight: 500;
  padding: 1rem;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.navlinks,
.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navlinks li,
.social-links li {
  margin: 0 1rem;
}

.navlinks li a,
.social-links li a {
  color: var(--outline);
}

.navlinks li a:hover,
.social-links li a:hover {
  color: var(--light);
}

.social-links {
  display: none;
}

@media (min-width: 768px) {
  .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.social-logo-svg {
  width: 24px;
  height: 24px;
  fill: var(--outline);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.social-logo-svg:hover {
  fill: var(--light);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  text-align: center;
  padding: 25% 2rem 0;
  background-image: var(--headergrad);
  color: var(--outline);
}

.selfie {
  margin: 0 auto 2rem;
}

.name-header {
  font-size: 32px;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  .name-header {
    font-size: 40px;
  }
}

@media (min-width: 1280px) {
  .name-header {
    font-size: 48px;
  }
}

.intro-text {
  line-height: 1.3;
}

@media (min-width: 1024px) {
  .intro-text {
    font-size: 20px;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

h2 {
  font-size: 2rem;
}

@media (min-width: 640px) {
  h2 {
    font-size: 4rem;
  }
}

@media (min-width: 1280px) {
  h2 {
    font-size: 8rem;
  }
}

h3 {
  font-size: 24px;
}

@media (min-width: 640px) {
  h3 {
    font-size: 40px;
  }
}

@media (min-width: 1280px) {
  h3 {
    font-size: 48px;
  }
}

.section-wrap {
  padding: 0 4rem;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-header {
  margin: 25% auto;
  padding: 25% 0 40%;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--headerog);
}

.project-header-section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects {
  border: 2px solid var(--outline);
}

@media (min-width: 1024px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 2rem 4rem;
}
/*# sourceMappingURL=styles.css.map */